
<nav >
<div routerLink=""  class="logo p-20 d1" 
    fxFlex="20%">Franck Roy</div>
<ul class="d2"
    fxFlex="auto"
    fxLayoutAlign="end center">
    <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Homepage</li>
    <li routerLink="affichage" routerLinkActive="active">Affichage</li>   
    <li routerLink="projet" routerLinkActive="active">Projet</li> 
    <li routerLink="users" routerLinkActive="active">Users</li>
    <li routerLink="recettes" routerLinkActive="active">Recettes</li>
    
    
    <li routerLink="panier" routerLinkActive="active">Panier</li>

</ul>

</nav>
