
<div style="background-color:purple;"
    fxFlex="300px"
    fxLayout="column nowarp"
    fxLayoutAlign="start start"
    >
    <div
        style="background-color: orange;" 
        fxFlexFill
        fxFlex="100px">1</div>
    <div fxFlex="100px">2</div>
</div>
<div 
    style="background-color: green;"
    fxFlex="1 1 auto"
    fxLayout="row warp"
    fxLayoutAlign="space*between start">
    <div  style="background-color: burlywood;"
        fxFlex=" 50%"   >
<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Projet"><app-projet></app-projet>

    </mat-tab>
    <mat-tab label="Familles">tes 2
    </mat-tab>
    <mat-tab label="Taches">Content 3</mat-tab>
  </mat-tab-group>
</div>
<div style="background-color: pink;"
    fxFlex=" 50%" 
>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Projet"><app-projet></app-projet>
    
        </mat-tab>
        <mat-tab label="Familles">tes 2
        </mat-tab>
        <mat-tab label="Taches">Content 3</mat-tab>
      </mat-tab-group>
    </div>
</div>  

