<div class="flex-50 pl-10 ">
    <div class="d-flex flex-columm">
            <h1 class= "m-10">User</h1>
        
                    <ul classe="m-10 list-primary" *ngIf="user" >
                       
                        <li>id : {{user.id}} </li>
                        <li>FullName : {{user.fullName}} </li>
                        <li>name : {{user.username}} </li>
                        <li>email : {{user.email}} </li>
                        <li>password : {{user.password}} </li>
                        <li>roles : {{user.roles}} </li>
                    </ul>
    </div>
</div>
